.landing{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameImg{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    object-position: bottom;
}
@media (max-width:768px) {
    .gameImg{
        object-position: 90%;
    }
    .suggestion{
        display: flex !important;
        justify-content: center;
    }
    .back{
        justify-content: right !important;
    }
    h1{
        color: rgb(53, 52, 52);
    }

    @media (max-width:768px) and (min-width:450px) {
        section{
            font-size: 2vw !important;
        }
    }
}

.suggestion{
    position: absolute;
    display: none;
    margin: -18vh 0 0 0;
    color: snow;
    width: 100%;
}

.blur{
    position: absolute;
    height: 85vh;   
    width: 70vw;
    border-radius: 40px;
    border: 1px solid black;
    backdrop-filter: blur(20px);
}

.img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin: 5px;
}

.underline{
    position: absolute;
    height: 4px;
    width: 20vw;
    background-color: black;
    border-radius: 50%;
    margin: 2vw 0 0 0;
}

nav{
    display: flex;
    align-items: center;
    height: 15%;
}

h1{
    display: flex;
    align-items: center;
    width: 35vw;
    padding-left: 10px;
    /* color: black; */
}

.buttons{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.start{
    border-radius: 20px;
    height: 6vh;
    width: 15vmax;
    margin: 18vh 0 0 0;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.manual{
    border-radius: 20px;
    height: 6vh;
    width: 15vmax;
    margin: 2.5vh 0 0 0;
    background-color: transparent;
    cursor: pointer;
    color: white;
}

.manualPage{
    height: 100%;
    width: 100%;
    /* background-color: lightblue; */
}
.back{
    width: 80%;
    display: flex;
    justify-content: center;
    margin-left: -26vw;
}
.back>button{
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: transparent;
    color: white;
}

.keypoints{
    height: 80%;
    width: 100%;
}

.manualTitle{
    font-size: large;
    color: snow;
    margin-left: 20px;
}

section{
    height: 50%;
    margin: 2vw;
    border-left: 4px solid black;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-weight: bold;
    padding-left: 10px;
}

ul{
    margin-left: 40px;
    margin-top: 10px;
}